source https://api.nuget.org/v3/index.json

nuget Autofac 
nuget Autofac.Extensions.DependencyInjection
nuget Dapper 
nuget EventFlow
nuget EventFlow.Autofac
nuget EventFlow.MongoDB
nuget EventFlow.RabbitMQ
nuget IdentityServer4.AccessTokenValidation
nuget Microsoft.AspNetCore.App
nuget Microsoft.CSharp 
nuget Serilog 
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Extensions.Logging
nuget Serilog.Formatting.Compact
nuget Serilog.Settings.Configuration
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Email
nuget Serilog.Sinks.MongoDB
nuget Serilog.Sinks.RollingFileAlternate
nuget Serilog.Sinks.Trace
nuget Swashbuckle.AspNetCore.Swagger
nuget Swashbuckle.AspNetCore.SwaggerGen
nuget Swashbuckle.AspNetCore.SwaggerUI
nuget Confluent.Kafka
nuget Automatonymous